@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
